

@model MTG.DTO.NewMoveDTO

@{
    ViewData["Title"] = "Nuevo Movimiento";
}

<h2>Nuevo Movimiento</h2>

@using (Html.BeginForm("JustCreate", "Movimiento", FormMethod.Post))
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UnMovimiento.ProductosId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnMovimiento.Desde_depo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnMovimiento.Hasta_depo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnMovimiento.Id_realizo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnMovimiento.Cantidad)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th>
                @Html.DropDownListFor(model => model.UnMovimiento.ProductosId,
                new SelectList(Model._Productos, "ProductosId", "detalle", Model.UnMovimiento.ProductosId),
                "Elige Producto")
            </th>
            <th>
                @Html.DropDownListFor(model => model.UnMovimiento.Desde_depo,
                 new SelectList(Model._Depositos, "DepositoId", "Nombre", Model.UnMovimiento.Desde_depo),
                 "Elige Deposito Origen")
            </th>
            <th>
                @Html.DropDownListFor(model => model.UnMovimiento.Hasta_depo,
                 new SelectList(Model._Depositos, "DepositoId", "Nombre", Model.UnMovimiento.Hasta_depo),
                 "Elige Deposito Destino")
            </th>
            <th>
                @Html.DropDownListFor(model => model.UnMovimiento.Id_realizo,
                 new SelectList(Model._Usuarios, "LoginId", "usuario", Model.UnMovimiento.Id_realizo),
                 "Elige Usuario que Realizo el cambio")
            </th>
            <th></th>

            <th>
                <div class="input-group">
                    @Html.TextBoxFor(model => model.UnMovimiento.Cantidad,
            new
            {
            @class = "form-control",
            @placeholder = "Ingrese Cantidad",
            @requried = "required"
            }

            )
                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk">  </span></span>
                </div>
            </th>
        </tr>
    </tbody>

    <tr>
        <td></td>
        <td>
            <input type="submit" value="Create" />
        </td>
        <td></td>
    </tr>

</table>

}
