
@model MTG.DTO.NewStockDTO

@{
    ViewData["Title"] = "Agrego Productos a Deposito";
}

<h2>Agregar</h2>

@using (Html.BeginForm("JustCreate", "Stock", FormMethod.Post))
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UnStock.DepositoId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnStock.ProductosId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnStock.Cantidad)
                </th>
  
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th>
                    @Html.DropDownListFor(model => model.UnStock.DepositoId,
                     new SelectList(Model._Depositos, "DepositoId", "Nombre", Model.UnStock.DepositoId),
                     "Elige Deposito de Destino")
                </th>
                <th>
                    @Html.DropDownListFor(model => model.UnStock.ProductosId,
                    new SelectList(Model._Productos, "ProductosId", "detalle", Model.UnStock.ProductosId),
                    "Elige Producto")
                </th>
                <th></th>

                <th>
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.UnStock.Cantidad,
                new
                {
                @class = "form-control",
                @placeholder = "Ingrese Cantidad",
                @requried = "required"
                }

                )
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk">  </span></span>
                    </div>
                </th>
            </tr>
        </tbody>

        <tr>
            <td></td>
            <td>
                <input type="submit" value="Agregar" />
            </td>
            <td></td>
        </tr>

    </table>

}
